.DS_Store
.cache
.env
.envrc
.next
.turbo
dist
dist-ssr
dist-bundle-check
examples/*/build
node_modules
public/dist
server/dist
test-results
tsconfig.vitest-temp.json
*.log
*.local
*.tsbuildinfo

# Allow dist folders for specific packages to be committed for git dependencies
!packages/google/dist
!packages/ai/dist
!packages/react/dist
!packages/provider/dist
!packages/provider-utils/dist
!packages/gateway/dist
